---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}-->
<!--   {% include archive-single.html %}-->
<!-- {% endfor %}-->



Education
======
* B.S. in Chengdu, Southwest Jiaotong University, 2015
* M.S. in Madison, University of Wisconsin-Madison, 2017
* Ph.D in Ithaca, Cornell University, 2022 (expected)

Work experience
======
* Spring 2020: Research Assistant
  * Cornell University
  * Project: Confidence Intervals for Projections of Partially Identified Parameters
  * Supervisor: Professor Francesca Molinari
* Summer 2020: Research Assistant
  * Cornell University
  * Project: Estimating the COVID-19 Infection Rate: Anatomy of an Inference Problem 
  * Supervisor: Professor Francesca Molinari
  
Skills
======
* Python, R, Matlab, Stata
