---
layout: single <!--archive-->
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}-->
<!--   {% include archive-single.html %}-->
<!-- {% endfor %}-->




 * Teaching Assistant for Econ 6200 : Econometrics II (Ph.D.)

     * Professor Joerg Stoye, Cornell University, Economics, 2020

* Teaching Assistant for Econ 6190: Econometrics I (Ph.D.)

     * Professor Yongmiao Hong, Cornell University, Economics, 2019

* Teaching Assistant for Math 3110 : Intro to Analysis (Undergrad)

     * Professor Nataliia Goncharuk, Cornell University, Math, 2019

* Teaching Assistant for Math 2940: Linear Algebra for Engineers (Undergrad)

     * Professor Laurent Saloff-Coste, Cornell University, Math, 2018

* Grader for Econ 464/475: International Trade and Finance/Economics of Growth (Undergrad)

     * Dr. Maria Muniagurria, University of Wisconsin Madison, Economics, 2017

* Grader for Math 521: Intro to Analysis (Undergrad)

     * Professor Mikhail Feldman, University of Wisconsin Madison, Math, 2017

* Grader for Econ 450: Wages and the Labor Market (Undergrad)

     * Professor Chao Fu, University of Wisconsin Madison, Economics, 2016

