---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
Teaching Assistant (for professor Joerg Stoye) (br\)
Econ 6200 : Econometrics II

Teaching Assistant (for professor Yongmiao Hong) (br\)
Econ 6190: Econometrics I

Teaching Assistant (for professor Nataliia Goncharuk)(br\)
Math 3110 : Intro to Analysis

Teaching Assistant (for professor Laurent Saloff-Coste) (br\)
Math 2940: Linear Algebra for Engineers

Grader (for Dr Maria Muniagurria)(br\)
Econ 464/475: International Trade and Finance/Economics of Growth

Grader (for professor Mikhail Feldman)(br\)
Math 521: Intro to Analysis

Grader (for professor Chao Fu)(br\)
Econ 450: Wages and the Labor Market
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
